#video-audio .video {
  display: flex;
}

#video-audio .video video {
  height: 200px;
}

#video-audio .video .description {
  padding-left: 10px;
  font-size: 18px;
}

#video-audio .audio audio {
  height: 60px;
}

#video-audio .audio span {
  padding-left: 10px;
}
