#order{
    .order-container{
        margin: 0 auto;
    
    .order-top{
        display: flex;
        .order-item-right{
            flex: 1;
            // #line-graph{
            //     width: 100% !important;
                
            //     #bar{
            //         width: 100% !important;
                  
            //         div{
            //             width: 100% !important;
                      
            //             canvas{
            //                 width: 100% !important;
                            
            //             }
            //         }
            //     }
            // }
        }
    }
}
}